.background {
    background: url("../../assets/images/asphalt.jpg");
    background-size: cover;
}

.Keyboard {
    border-radius: 10px;
    opacity: 0.8;
    margin: 19% auto;
    display: inline-block;
}

.PasswordWindowRed {
    background: red;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 40px;
    height: 50px;
}

.PasswordWindowGreen {
    background: green;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 40px;
    height: 50px;
}

.Buttons {
    display: flex;
}

.Buttons ul {
    margin: 0;
    padding: 0;
}
.Buttons li {
    list-style-type: none;
    margin: 2px;
}
.Buttons button {
    border-radius: 5px;
    height: 30px;
    width: 47px;
}
